/venv
/dist
.idea
/easyshare.egg-info/
__pycache__
/easyshare/devtests/
/docs/sphinx/build/
/docs/sphinx/src/html/img/
/docs/sphinx/src/html/LICENSE.txt
/docs/sphinx/src/html/README.MD
/.tox/
.pytest_cache
/build/
